p,
a {
  margin: 4px;
}
p:hover {
  color: blue;
  cursor: pointer;
}
p,
h3,
a {
  color: white;
  text-align: left;
  padding-left: 10px;
}

img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
a {
  /* border: 1px solid springgreen; */
  display: flex;
  text-decoration: none;
}
#div {
  height: 100%;
  width: 15%;
  border: 1px solid greenyellow;
  margin: auto;
}
#style1 {
  display: flex;
  height: 250px;
  border: 1px solid red;
  background: black;
  /* // padding:"1% 4% 1% 4%" */
}
@media only screen and (max-width: 600px) {
  #style1 {
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: auto auto; */
    border: 5px solid green;
    grid-gap: 10px;
  }
  #div {
    border: 1px solid green;
  }
}
