.center img {
  height: 600px;
  width: 100%;
  /* margin: 20px 30px;  */
  display: block;
  /* margin: auto; */
}
.slickk-arrow {
  color: black;
}
/* .slick-prev{
    z-index: 100;
    left: 30px ;
    padding: 30px;
    
    
}
.slick-next{
    z-index: 100;
    right: 30px ;
 

} */
