#main{
    width: 70%;
    height: 420px;
    border: 1px solid black;
    display: flex;
    margin: 10px auto 10px auto;
    gap: 4%;
}
#left{
    width: 48%;
    border: 1px solid red;
    border-radius: 15% 0 15% 0;
}
#right{
    width: 48%;
    border: 1px solid green;
    text-align: left;
    padding-left: 5%;
}